<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>



    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->

<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("297adeb7bfddd261ab19a8b6a45bd445");</script><!-- end Mixpanel -->

  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <header class="clearfix">
      <% if @user %>
        <div class=logo>
          <a href="http://thomasstreet.net">
            <img width='180pt' height='50pt' class=logo src="logo.png" />
          </a>
        </div>
        <div class="holder">
          <div class="image">
            <h1 class=header>Click to Equalize Your Profile Picture!</h1>
            <canvas id="imageCanvas"></canvas> 
          </div>
        </div>
  
        <style>
          .logo {
            position: fixed;
            right: 0;
          }
          h1.header {
            font-family: sans-serif;
            cursor: pointer;
          }
          .holder {
            text-align: center;
            margin-top: 4em;
          }
          .holder.uploading {
            opacity: 0.5;
          }
          .image {
            display: inline-table;
          }
          #post {
            height: 2em;
            cursor: pointer;
            font-size: 2em;
            line-height: 1em;
          }
          #imageCanvas {
            cursor: pointer;
          }
        </style>
          

        <script>
            var canvas = document.getElementById('imageCanvas');
            var ctx = canvas.getContext('2d');

            mixpanel.track("page view");
            var clicked = false;

            img = new Image();
            img.onload = function(){
                ctx.globalAlpha = 0.2;
                var lesser = Math.min(img.width, img.height)
                canvas.width = lesser;
                canvas.height = lesser;
                $('#post').css('width', canvas.width)
                ctx.drawImage(img,0,0);
                equals = new Image();
                equals.onload = function() {
                  scaleUp = canvas.width / equals.width;
                  ctx.scale(scaleUp, scaleUp);
                  ctx.globalAlpha = 0.5;
                  ctx.drawImage(equals, 0, 0);
                  console.log(canvas.toDataURL())
            }
            equals.src = 'equals.jpg';

            }
            img.src = 'profile_photo';

            handleClick = function() {
              if (! clicked) {

                $('.header').html('uploading . . .');
                $('.holder').addClass('working');
                mixpanel.track("submitted");
                $.ajax({
                  type: "POST",
                  url: '/upload', 
                  data: canvas.toDataURL(),
                  processData: false,
                  success: function(response) {
                    FB.api(response, function(r) {
                      mixpanel.track("submitted");
                      window.location.replace(r.link+"&makeprofile=1");
                    })
                  }
                })
              }
              clicked = true;
           }

          $('.header').click(handleClick);
          $('#imageCanvas').click(handleClick);
        </script>


      <% else %>




      <% end %>
    </header>
  </body>
</html>
